@import "tailwindcss";

body {
    padding: 10px;
    margin: 10px;
    background-color: #f5f7fb;
    color : #000000;
    font-family: inter, sans-serif;
}

h1, h3 {
    color: #13294B;
}

h2, p {
    color: #000000;
}


.sidebar {
    background-color: #ffffff;
    color: #888888;
    padding: 20px;
    width: 240px;
}
